# Database & Storage Volumes
*.db
*.db-journal
*.sqlite
*.sqlite3
pgdata/
redisdata/
miniodata/

# Go compiled binaries
bin/
*.exe
*.test
*.prof

# Node & Package Managers
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel

# Environment & Sensitive configs
.env
.env.local
.env.*.local

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs & Scratch
*.log
tmp/
scratch/
